body {
	font-size: 15vh;
}

header {
	margin: 0;
	border: 0;
	padding: 0;
	display: flex;
	font-family: "Calibri";
	width: 90%;
	justify-content: space-between;
	align-items: flex-end;
}

.main-section {
  margin: 0;
	border: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.sidebar {
  margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: "Calibri";
	color: #223A52;
	width: 10%;
	max-height: 512px;
}
.menu {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
}

.main {
	font-family: "Calibri";
	width: 90%;
}

#main-image {
  display: block;
	max-height: 512px;
	max-width: 100%;
}

img.med {
	max-width: 100%;
	display: block;
	max-height: 200px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear-both {
	clear: both;
}

.padding {
	padding-top: 25px;
	padding-bottom: 25px;
}

hr {
	margin: 0;
	margin-bottom: 5px;
	border: none;
	height: 1px;
	background-color: #223A52;
}

.clear-right {
  clear: right;
}

.parent {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

h1 {
  font-size: 56px;
  font-weight: normal;
  color: #223A52;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  color: #223A52;
  margin: 0;
  padding: 0;
}

p {
  font-size: 32px;
  font-weight: bold;
  color: #7d97ad;
  margin: 0;
  padding: 0;
}


.center {
  text-align: center;
}