body {
	font-size: 4vw;
}

.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 10%;
	font-size: 84px;
	font-weight: bold;
	font-family: "Calibri";
	color: #223A52;
	text-align: right;
}

img.large {
	max-width: 100%;
	display: block;
	max-height: 512px;
}

img.med {
	max-width: 100%;
	display: block;
	max-height: 200px;
}
	
.left {
	float: left;
}

.right {
	float: right;
}

.clear-both {
	clear: both;
}

.padding {
	padding-top: 25px;
	padding-bottom: 25px;
}

.main {
	font-family: "Calibri";
	width: 90%;
}

.header {
	margin: 0;
	border: 0;
	display: inline-block;
	font-family: "Calibri";
}

hr {
	margin: 0;
	margin-bottom: 5px;
	border: none;
	height: 1px;
	background-color: #223A52;
}

.clear-right {
  clear: right;
}

.parent {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

h1 {
  font-size: 56px;
  font-weight: normal;
  color: #223A52;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  color: #223A52;
  margin: 0;
  padding: 0;
}

p {
  font-size: 32px;
  font-weight: bold;
  color: #7d97ad;
  margin: 0;
  padding: 0;
}


.center {
  text-align: center;
}