<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<title>Delete Baseball Card</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>Major League Baseball Card Catalog</h1>
        </div>
        <div>
            <div id="mlb-logo"><img id="logo" src="{{url_for('uploaded_file', filename='mlb.png') }}" alt="Logo"></div>
        </div>
    </header>
    <div id="menu">
        <ul>
            <li><a href="{{url_for('teams' )}}">Home</a></li>
        </ul>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <strong> {{ message }} </strong>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="main">
        <h1>Delete Baseball Card</h1>
        <div>
            <h2> Are you sure you want to delete {{item.name}}? </h2>
            <form action= "{{url_for('deleteBaseballCard', team_id=team_id, player_id=item.id)}}" method = 'POST'>
            <input type='submit', value = 'Delete'>
            </form>
            <a href= "{{url_for('players', team_id= item.team_id)}}">Cancel</a>
        </div>
    </div>
</body>
</html>