html,
body {
    margin: 0;
    background: #378aff;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 2vh;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #ffbc37;
}

a:hover {
    color: #ffbc37;
    text-decoration: none;
    font-weight: bold;
}
    

#options-box {
    padding: 0;
    margin: 2px;
    border: 0;
    width: 25%;
    color: white;
    text-decoration: none;
    position: absolute;
    font-size: 2vh;
}

h1 {
    margin: 0;
    font-size: 2vh;
}

h2 {
    margin: 0;
    font-size: 2vh;
}

h3 {
    margin: 0;
    font-size: 2vh;
}

p {
    margin: 0;
    font-size: 2vh;
}

.wikipedia-container {
    text-align: center;
}

.locations {
    padding: 10px;
    border: 0px;
    margin: 0px;
}

select {
    width: 10em;
}

#map-container {
    width: 75%;
    height: 100%;
    float: right;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 75%;
    position: absolute;

}

ul {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

li {
    list-style-type: none;
}

#locations {
    padding: 0px;
    margin: 0px;
}

#locations:hover {
    color: #ffbc37;
    font-weight: bold;
    cursor: pointer;
}