header {
	margin: 0;
	border: 0;
	padding: 0;
	display: flex;
	font-family: "Calibri";
    width: 100%;
	justify-content: space-between;
	align-items: flex-end;
}

#logo {
	display: block;
	max-height: 124px;
	max-width: 100%;
}

h1 {
  font-size: 56px;
  font-weight: normal;
  color: #223A52;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000089;
    font-weight: bold;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
    
}

#main {
    text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear-both {
	clear: both;
}

p {
	margin: 0;
	padding: 0;
}

#teams-container {
	display: block;
    margin: 0;
}

#teams {
    float: left;
    margin: 0;
}
